

<h2 class="ui header">
  <div class="content">
    Learn LPIC And Become a Successful Linux Developer
  </div>
  <img src="assets/bilder/index.png" alt="linux" class>
</h2>


<main>
  <div class="ui buttons">
    <button class="ui button active">Home</button>
    <button routerLink="./test" routerLinkActive="active" class="ui dropdown button" data-element="dropdown" data-type="module">
      <div class="text"></div>
        <i class="ui icon dropdown"></i>
        <div class="ui three fluid vertical buttons">
          <button class="ui button" routerLink="../lernModusLpic" routerLinkActive="active">Lernmodus</button>
          <button class="ui button" routerLink="../testModusLpic">Testmodus</button>
          <button class="ui button" routerLink="../pruefModusLpicComponent">Prüfmodus</button>
        </div>
    </button>
    <div class="linuxBild">
      <img src="assets/bilder/linux.jpg" width="400px" height="400px">
    </div>
    
  
  </div>

  
 
</main>

<h3>Püfungs Infos:</h3>



